.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 15vw;
  max-width: 15vw;
  margin-top: 1rem;
  border-right: 1px solid #ccc;
  height: 100vw;
}
.sidebar__nav {
  display: flex;
  flex-direction: column;
}
.sidebar__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 1rem;
}
.sidebar__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 5vh;
  max-height: 5vh;
  padding: 0 1vw;
}
.sidebar__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #000;
}
.sidebar__text {
  margin-left: 1vw;
}
