.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 5vw;
  max-height: 5vw;
  min-height: 5vw;
  background: rgb(255, 255, 255);
  box-shadow: inset 0px 0px 0px 1px rgb(227, 227, 227);
  color: rgb(3, 3, 3);
}
.header__logo {
  margin-left: 3vw;
}
.header__nav {
  margin-right: 3vw;
}
/* Movile MediaQuery */
@media (max-width: 768px) {
  .header {
    justify-content: space-around;
    height: 10vw;
    max-height: 10vw;
    min-height: 15vw;
  }
  .header__logo {
    margin-left: 0;
  }
  .header__nav {
    margin-right: 0;
  }
}
